@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;

  background-color: #222;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);

}

.card {
  box-sizing: border-box;
  padding: 1rem;
  border: 4px solid #22222266;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(99, 99, 252, 0.473);

  /* background-image: url('https://picsum.photos/620.webp'); */
  background-attachment: fixed;
  background-size: cover;

  background-image: radial-gradient(
    circle at var(--x, 100px) var(--y, 100px),
    hsl(0 0% 100% / 25%),
    transparent 100px
  );
}
