@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --basic-width: 200px;
  --radius: 0.75rem;
}

.wrapper {
  width: var(--width, var(--basic-width));
  container-type: inline-size;
}

.card {
  border: 1px solid #ddd;
  border-radius: var(--radius);

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: var(--basic-width) 1fr;
}

.card-image {
  width: 100%;
  height: var(--basic-width);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: 0;

  background-color: blueviolet;
}

.card-content {
  padding: 1rem;
}

.card-content h2 {
  margin: 0 0 0.25rem;
}

.card-content p {
  margin: 0;
}

@container (min-width: 400px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
    gap: 0;
  }

  .card-image {
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-top-right-radius: 0;
  }
}
