@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rlh;
}

p[lang^="c"] {
  color: green;
}

*[class^="col"] {
  padding: 1rem;
}

*[class$="Wrapper"] {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

span:lang(en-GB) {
  outline: 2px solid blue;
}

span:lang(en-US) {
  outline: 2px dotted red;
}

p:empty {
  display: none;
}

picture {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

section ~ p {
  font-style: italic;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #666;
  list-style-position: inside;
}

li:nth-child(3) {
  font-weight: 700;
}

/*
li:nth-child(even) {
  background-color: #ccc;
}

li:nth-child(2n) {
  background-color: #ccc;
}

li:nth-child(2n+1) {
  background-color: #ccc;
}

li:nth-child(n+7) {
  background-color: #ccc;
}

li:nth-child(3n+4) {
  background-color: #ccc;
}
*/
li:nth-child(-n+7) {
  background-color: #ccc;
}

li:not(.important) {
  color: brown;
}

p > :not(span, i) {
  color: rgb(114, 2, 114);
}
