@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  body {
    margin: 0;
  }
}

.centerParent {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;


  .centerChild {
    width: 200px;
    height: 200px;
    background-color: burlywood;
  }
}


.parent {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  height: 10rem;
  background-color: azure;

  .child {
    width: 5rem;
    height: 5rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(5) {
      order: -1;
      /* flex-grow: 0; */
    }

    &:nth-child(4) {
      align-self: end;
      /* flex-grow: 2; */
    }
  }
}
