@import url("./reset.css");

.parent {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(4, 100px);
  background-color: bisque;
  align-items: center;
  justify-items: center;
  margin: 2rem;

  .child {
    background-color: azure;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(6) {
      grid-column: 3 / span 2;
      grid-row: 2 / span 2;

      width: auto;
      height: auto;

      place-self: stretch;
    }
  }

}
