@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  --transition-time: 250ms;
  --hover-opacity: 0.25;
  --bg-color: rgb(218 218 240);
  --front-color: rgb(1 1 59);

  --li-scale: 1.25;
  --li-scale-adj: 0.2;
  --li-pb: 0.5rem;

  --one-checked-color: rebeccapurple;
  --two-checked-color: darkblue;
  --three-checked-color: seagreen;

  --starOff: #ccc;
  --starOn: orange;
}

section {
  margin-bottom: 2rem;
}

nav {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  border: 2px solid var(--front-color);
  border-radius: 1rem;
  transition: background-color var(--transition-time),
    border-color var(--transition-time);
}

a {
  display: inline-block;
  color: var(--front-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem 3rem;
  font-weight: 800;
  transition: opacity var(--transition-time);
}

nav:has(a:hover) {
  background-color: color-mix(
    in srgb,
    var(--bg-color) calc(var(--hover-opacity) * 100%),
    transparent
  );
  border-color: color-mix(
    in srgb,
    var(--front-color) calc(var(--hover-opacity) * 100%),
    transparent
  );

  a:not(:hover) {
    opacity: var(--hover-opacity);
  }
}

section:has(> ul) {
  height: calc(3rem * 9);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  font-size: 1.15rem;
  flex: 0 0 auto;
}


li {
  transition: all cubic-bezier(.26,.79,.72,1.27) var(--transition-time);
  transition-delay: var(--li-delay, 0);
  padding-block: var(--li-pb);
  margin-inline: auto;
  width: 15rem;

  span {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 0.5em;
    transition: padding var(--transition-time) ease;
  }
}

li:hover {
  --li-pb: 1.2rem;

  scale: var(--li-scale);

  span {
    padding: calc(1.25 * var(--li-pb)) var(--li-pb)
  }
}

ul:has(> :hover) li:not(:hover, li:hover + *, :has(+ :hover)) {
  --li-pb: 0.125;
  --li-delay: 60ms;

  scale: calc(1 - var(--li-scale-adj));
  opacity: calc(2 * var(--hover-opacity));
}


form {
  display: flex;
  align-items: center;
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #ddd;
  border-radius: 1rem;
  line-height:1.5;
  transition: scale var(--transition-time) ease, opacity var(--transition-time) ease;
}

input[type="checkbox"] + label {
  display: inline-block;
  line-height: 2;
  margin-right: 1.5rem;

  &:last-child {
    margin: 0;
  }
}

/* One checkbox selected… */
form:has(input[type="checkbox"]:checked) {
  box-shadow: inset 0 0 0 0.5rem var(--one-checked-color);
  background-color: color-mix(in srgb, var(--one-checked-color) 30%, transparent);
}

/* Two checkboxes selected… */
form:has(input[type="checkbox"]:checked ~ input[type="checkbox"]:checked) {
  box-shadow: inset 0 0 0 0.5rem var(--two-checked-color);
  background-color: color-mix(in srgb, var(--two-checked-color) 30%, transparent);
}

/* Three checkboxes selected… */

form:has(input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ input[type="checkbox"]:checked) {
  box-shadow: inset 0 0 0 0.5rem var(--three-checked-color);
  background-color: color-mix(in srgb, var(--three-checked-color) 30%, transparent);
}

button {
  display: inline-flex;
  align-items: center;
  border-radius: 0.25rem;
  background: navy;
  border: none;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;

  &:has(svg) {
    background-color: crimson;
  }

  svg {
    margin-left: 1rem;
  }
}


/* anywhere selector */
.answer {
  filter: blur(15px);
}

body:has(input[type="checkbox"].secret:checked) .answer {
  filter: none;
}

/* Star rating */
.star {
  --starColor: var(--starOff);
  display: inline-flex;
  cursor: pointer;


  &:after {
    font-size: 4rem;
    content: "★";
    color: var(--starColor);
    transition: color calc(2 * var(--transition-time));
  }

  &:hover,
  &:has(~ .star:hover),
  &:has(:checked),
  &:has(~ .star :checked) {
    --starColor: var(--starOn);
  }

  input { display: none; }
}
