@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
}


ol {
  color: darkblue;
  list-style-type: upper-alpha;
}

/*
ol ul,
ol ol,
ul ul,
ul ol {
  color: green;
}

ol ol ol,
ol ol ul,
ol ul ol,
ol ul ul,
ul ol ol,
ul ol ul,
ul ul ol,
ul ul ul  {
  color: red;
  list-style-type: lower-greek;
}
*/

:is(ol, ul) :is(ol, ul) {
  color: green;
}

:is(ol, ul) :is(ol, ul) :is(ol, ul) {
  color: red;
  list-style-type: lower-greek;
}

/*
:where(ol, ul) :where(ol, ul) {
  color: green;
}

:where(ol, ul) :where(ol, ul) :where(ol, ul) {
  color: red;
  list-style-type: lower-greek;
}
*/

p:where(#interest) {
  font-weight: 900;
  color: orange;
}

p.brown {
  color: brown;
}

p::first-line {
  color: red;
}

p::selection {
  background-color: yellowgreen;
}

li:has(> ol, > ul) {
  list-style-type: none;
}
