@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
}

@layer reset, base, component;

@layer component {
  div {
    color: pink;
  }
}

@layer base {
  .cardClass {
    color: darkred;
  }
}

@layer reset {
  div {
    padding: 2rem;
    color: orange;
  }

  #cardId {
    color: darkblue;
  }
}
