@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(100px, 250px));
  grid-template-rows: repeat(3, auto);
}

.card {
  border: 1px solid #ccc;
  border-radius: 0.25rem;

  display: grid;
  gap: 0.5rem;
  grid-row: span 3;
  grid-template-rows: subgrid;



  .header {
    margin: 0 0 0.5rem;
  }

  .image {
    height: 200px;
    width: 100%;
  }
}
