@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  --color-error: darkred;
  --color-success: rgb(51 226 51);
  --color-grey: rgb(86 91 100);
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100px, 250px);

  /* width: calc(100dvw - 10rem); */
  /* width: clamp(50vw, 600px, 800px); */
  border: 1px solid var(--color-grey);
}

input {
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &::placeholder {
    color: var(--color-grey);
  }

  &:user-valid {
    border-width: 2px;
    border-color: var(--color-success);
    color: var(--color-success);
  }

  &:user-invalid {
    border-width: 2px;
    border-color: var(--color-error);
    color: var(--color-error);
  }

  &[placeholder="PSČ"] {
    background-color: rgb(0 255 255 / 5%);

    --color-success: darkgreen;
  }
}

@media print {
  h1 {
    display: none;
  }
}
