footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  height: min-content;

  .icon {
    @size: 1.25rem;

    width: @size;
    height: @size;

    rect {
      fill: rgb(125 25 26 / 50%);
    }

    ellipse {
      fill: rgb(125 240 25 / 50%)
    }
  }
}
