.outline (@color) {
  outline: 5px solid darken(@color, 10%);
  background-color: lighten(@color, 60%);
}

.response {
  word-wrap: break-word;
  white-space:pre-wrap;
  display: block;
  padding: 0.5rem;
  margin: 2rem 1rem;
  width: fit-content;

  &:empty {
    display: none;
  }

  .radius(0.5rem);

  &.success {
    .outline(@color-green);
  }

  &.error {
    .outline(@color-red);
  }
}

fieldset {
  border-color: lighten(@color-blue, 20%);
  .radius();
}
