@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&family=Stick+No+Bills:wght@200;500;800&display=swap');

:root {
  font-size: @main-size;
  font-family: 'Baloo Tammudu 2', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.radius(@radius: 0.25rem) {
  border-radius: @radius;
}
