@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&family=Stick+No+Bills:wght@200;500;800&display=swap');

:root {
  font-size: $main-size;
  font-family: 'Baloo Tammudu 2', Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  width: 1200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
  border-radius: 0.25rem;
}
